body{
  background-image: url("/img/paisagem03.png");
  background-size:cover;
  align-items: center;
}

.titulo h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 60px;
  padding: 50px 0;
}

.titulo h2, h3 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.serviço {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0;
}

.serviço  li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.2%;
  padding: 5px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.serviço li:hover {
  border-color: #C78C19;
}

.serviço-descricao {
  font-size: 18px;
  text-decoration: none;
 }

.serviço-status {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 0;
}

.copyright {
  position:fixed;
  bottom: 5px;
  color: whitesmoke;
  font-size: 12px;
  margin: 20px 0 0;
  width: 100%;
}
